@import 'bootstrap-icons/font/bootstrap-icons.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

.overlay-transparent {
    /* background-color: linear-gradient(180deg, #1e40af 0%, #000000 100%); */
    /* opacity: 0.85; */
    background: linear-gradient(180deg, #061a58 1%, #000000 99%);
    opacity: 0.70;
}
@layer components {
    .card {
        @apply rounded-lg shadow-md p-4 bg-slate-400 rounded-sm  shadow-md;
    }
}

@layer utilities {
    .clip-trapezoid {
      @apply bg-blue-500;
      clip-path: polygon(25% 0%, 75% 0%, 100% 100%, 0% 100%);
    }
  }
